<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style.
            @import url('https://fonts.googleapis.com/css?family=Roboto');
            :root {
                box-sizing: border-box;
            }
            *, *:before, *:after {
                box-sizing: inherit;
            }
            html, body {
                margin: 0;
                padding: 0;
                height: 100%;
            }
            .centrebox {
                width: 100%;
                max-width: 750px;
                margin: 0 auto;
            }
            body {
                font-family: sans-serif;
                font-size: 22px;
                font-family: 'roboto', 'emoji', 'Segoe UI Emoji', sans-serif;
            }
            a:link, a:visited {
                color: #34f;
                text-decoration: none;
            }
            a:link:hover {
                text-decoration: underline;
            }
            img {
                width: 100%;
                box-shadow: 0 2px 5px 1px #0005;
                border-radius: 5px;
                margin: 15px 0;
            }
            #copy {
                font-size: 14px;
                padding: 20px 0;
                color: #555;
                border-top: solid 1px #0003;
            }
            #copy p, #copy h2 {
                margin: 5px 0;
            }
            #copy p:first-child, #copy h2:first-child {
                margin-top: 0;
            }
            #copy h2 {
                font-size: 1.25em;
            }
            #copy p:last-child, #copy h2:last-child {
                margin-bottom: 0;
            }
            #copy .centrebox {
                padding: 0 20px;
            }
            main {
                margin: 25px 0;
                padding: 0 15px;
            }
            p {
                margin: 20px 0px;
            }
            h1, h2, h3, h4, h5, h6 {
                margin: 10px 0;
                font-weight: normal;
            }
            #prev div, #next div {
                font-size: 0.75em;
                margin: 0 1px;
                color: #555;
            }
            #prev {
                float: left;
                text-align: left;
            }
            #next {
                float: right;
                text-align: right;
            }
            header, footer {
                left: 0;
                width: 100%;
                background: #fffe;
            }
            header .centrebox, footer .centrebox {
                padding: 20px;  
            }
            footer {
                border: 0;
                position: sticky;
                border-top: solid 1px #0003;
                bottom: 0;
            }
            header {
                top: 0;
                position: relative;
                border-bottom: solid 1px #0003;

            }

            .inputbox {
                border: solid 1px #0003;
                max-width: 400px;
                padding: 20px;
                border-radius: 10px;
                margin: 0 auto;
                padding-bottom: 15px;
            }

            .inputbox .popup-label {
                font-size: 12px;
                text-align: center;
                color: #555;
            }

            .inputbox .popup-input {
                font-size: 16px;
                height: 31px;
                margin-top: 5px;
                position: relative;
                margin-bottom: 10px;
                text-align: center;
                padding: 5px 10px;
                border: solid 1px #0005;
                border-radius: 15.5px;
            }
            .inputbox .popup-input.multi {
                height: unset;
                padding: 50px 10px;
            }

            .inputbox .popup-input.dropdown::after {
                content: "▼";
                display: block;
                position: absolute;
                right: 10px;
                top: 5px;
            }

            .inputbox .popup-input.placeholder {
                color: #0005;
            }

            kbd, .inputbox .popup-button {
                font-size: 16px;
                display: inline-block;
                padding: 3px 12px;
                font-family: inherit;
                margin: 0 5px;
                vertical-align: middle;
                text-align: center;
                border: solid 1px #0005;
                border-radius: 9999999px;
            }

            .inputbox .popup-button {
                margin-left: 0;
                margin-right: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .inputbox .popup-button.full {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }

            .inputbox .popup-button.confirm {
                margin-right: 0;
                margin-left: 10px;
                margin-bottom: 0px;
                padding: 7px 12px;
                float: right;
            }

            .inputbox .popup-button.final {
                background: #3344ff;
                border: 0;
                color: #fff;
            }
            .clearfloat {
                clear:both;
            }
            .btn {
                background: #8c50f9;
                color: #fff !important;
                border-radius: 1500000px;
                padding: 10px 30px;
                display: block;
                width: 300px;
                text-align: center;
                margin: 0 auto;
            }
        title=page.title
    body
        header
            .centrebox
                a(href='/gitgit') Getting Good with Git
        .centrebox
            main!=page.body
        div#top
        if page.prev || page.next
            footer
                .centrebox
                    if page.prev
                        #prev
                            div Previous
                            a(href="/gitgit/" + page.prev.href + ".html")=page.prev.name
                    if page.next
                        #next
                            div Next up
                            a(href="/gitgit/" + page.next.href + ".html")= page.next.name
                    .clearfloat
        div#copy(class=page.prev ? "" : "right")
            .centrebox
                h2!="&copy; George Fischer " + (new Date).getFullYear()
                p Feel free to re-use segments of this, but please provide attribution
                p The source code for this tutorial is available on 
                    a(href="https://bitbucket.org/byhemechi/gitgit") BitBucket
                    |. If you find an error or find an image to be bad, please submit a pull request